@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_global\.scss}line{font-family:\000033}}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #222125;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_global\.scss}line{font-family:\000039}}
footer {
  background-color: #eee;
  padding: .75rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_global\.scss}line{font-family:\0000314}}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_global\.scss}line{font-family:\0000336}}
img {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_navigation\.scss}line{font-family:\000032}}
nav ul {
  margin: 0;
  padding: 0;
  background-color: #6b40ce;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_navigation\.scss}line{font-family:\000032}}
  nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_navigation\.scss}line{font-family:\0000314}}
nav a {
  text-decoration: none;
  color: white;
  display: inline-block;
  line-height: 2.8;
  width: 100%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_navigation\.scss}line{font-family:\0000323}}
nav li {
  display: inline;
  list-style: none;
  width: 100px;
}
@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_navigation\.scss}line{font-family:\0000323}}
  nav li {
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_navigation\.scss}line{font-family:\0000332}}
nav li:hover {
  background-color: #542dae;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_navigation\.scss}line{font-family:\0000336}}
nav .active {
  background-color: #542dae;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\000031}}
.first-row {
  height: 20vh;
  background-color: #4ccde5;
  display: grid;
  grid-template-columns: 1fr 18.5vh;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\000031}}
  .first-row {
    height: 30vh;
    grid-template-columns: 1fr 27.5vh;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\0000314}}
.first-row img {
  float: right;
  display: none;
}
@media only screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\0000314}}
  .first-row img {
    display: block;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\0000322}}
.first-row .textHolder {
  text-align: center;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\0000326}}
.first-row .textHolder h1 {
  font-size: 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\0000330}}
.first-row .textHolder p {
  font-size: 1.3rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\0000334}}
.first-row .textHolder h1, .first-row .textHolder p {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\0000339}}
.first-row .btn {
  margin-top: .5rem;
  background-color: #6b40ce;
  color: White;
  font-size: 1.2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\0000345}}
.first-row .btn:hover {
  background-color: #542dae;
}
@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\000031}}
  .first-row {
    background-image: url(../images/randeep-portrait.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 300px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\000031}}
  .first-row {
    height: 40vh;
    grid-template-columns: 1fr 36.8vh;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\0000366}}
.second-row {
  height: 70vh;
  background-color: #6b40ce;
  text-align: center;
  background-image: url(../images/coming-soon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\0000366}}
  .second-row {
    height: 50vh;
    background-image: url(../images/coming-soon-2.png);
  }
}
@media only screen and (min-width: 767px) and (orientation: portrait) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\0000366}}
  .second-row {
    height: 50vh;
    background-image: url(../images/coming-soon-2.png);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\0000384}}
.second-row img {
  max-height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\0000389}}
footer {
  text-align: center;
}
@media only screen and (max-width: 420px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\0000392}}
  footer span {
    font-size: .85rem;
  }
}
@media only screen and (max-width: 360px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\0000392}}
  footer span {
    font-size: .75rem;
  }
}
@media only screen and (max-width: 320px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_index\.scss}line{font-family:\0000392}}
  footer span {
    font-size: .68rem;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\000031}}
.image {
  display: none;
}
@media only screen and (max-width: 850px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\000031}}
  .image {
    background-color: #4ccde5;
    display: block;
    text-align: right;
  }
}
@media only screen and (min-width: 850px) and (orientation: portrait) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\000031}}
  .image {
    background-color: #4ccde5;
    display: block;
    text-align: right;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\0000315}}
.image img {
  position: relative;
  top: 5px;
}
@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\0000315}}
  .image img {
    width: 300px;
  }
}
@media only screen and (min-width: 767px) and (orientation: portrait) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\0000315}}
  .image img {
    width: 450px;
  }
}
@media only screen and (max-width: 850px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\0000315}}
  .image img {
    width: 300px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\0000330}}
.profile {
  background-color: #6b40ce;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\0000333}}
.profile .textHolder {
  padding: 2rem;
  color: white;
}
@media only screen and (min-width: 1024px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\0000333}}
  .profile .textHolder {
    max-width: 300px;
  }
}
@media only screen and (min-width: 1366px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\0000333}}
  .profile .textHolder {
    max-width: 400px;
  }
}
@media only screen and (min-width: 1367px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\0000333}}
  .profile .textHolder {
    max-width: 1000px;
  }
}
@media only screen and (min-width: 850px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\0000330}}
  .profile {
    background-image: url(../images/randeep-portrait-alternate.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\0000360}}
footer {
  text-align: center;
}
@media only screen and (max-width: 420px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\0000363}}
  footer span {
    font-size: .85rem;
  }
}
@media only screen and (max-width: 360px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\0000363}}
  footer span {
    font-size: .75rem;
  }
}
@media only screen and (max-width: 320px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/School\/CSE341\/cs313-php\/web\/assets\/css\/scss\/_profile\.scss}line{font-family:\0000363}}
  footer span {
    font-size: .68rem;
  }
}
