@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #2a2a2a;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/login-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

main {
    background-color: white;
    width: 100%;
    max-width: 700px;
    padding: 2rem 1rem;
    margin: 0 auto;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: .5rem;
}

form {
    max-width: 90%;
    margin: 0 auto;
}

input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover {
    background-color: #e6b842;
    transition: background-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-primary {
    background-color: #ecc96f;
    font-weight: 600;
}

.text-center {
    text-align: center;
}

.imageContainer {
    text-align: center;
}

.logo {
    width: 125px;
}

@media only screen and (max-width: 1023px) and (orientation: landscape) {
    body {
        overflow: auto;
    }
} 