/* START General Styling */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 0 2%;
}

img {
  max-width: 100%;
}

footer {
  margin-top: 2rem;
  border-top: 1px solid #f5f5f5;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a.btn {
  text-decoration: none;
}

.req {
  color: red;
}

.error {
  color: #DC3545;
  text-align: left;
}

.success {
  color: #28A745;
  text-align: left;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
}
@media only screen and (min-width: 1024px) {
  .col-2 {
    grid-template-columns: 2fr 1fr;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-primary {
  color: #fff;
  background-color: #000;
  font-weight: bold;
}

.btn-action {
  color: #fff;
  background-color: #6b40ce;
  font-weight: bold;
}

.btn-error {
  color: #fff;
  background-color: #ce405c;
  font-weight: bold;
}

.btn-disabled {
  opacity: .5;
  cursor: not-allowed;
}

/* END General Styling */
/* START Header Styling */
header nav {
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-column-gap: .5rem;
  align-items: center;
  padding: .25rem .5rem;
  border-bottom: 1px solid #333;
}

.cart-header {
  position: relative;
  text-decoration: none;
  text-align: right;
}

.shopping-cart {
  color: #000;
}

.cart-num {
  position: relative;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: .05rem .25rem;
  top: -17px;
  left: -13px;
}

.imageHolder {
  height: 100%;
  max-height: 40px;
}
.imageHolder img {
  max-height: 95%;
}

/* END Header Styling */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 400px;
}
.modal .modal-footer {
  text-align: right;
}
.modal .modal-footer form {
  display: inline;
}
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: .05rem .65rem;
}
.modal .close:hover, .modal .close:focus {
  color: black;
  text-decoration: none;
  background-color: #aaa;
  border-radius: 50%;
  cursor: pointer;
}

/* START Browse Page Styles */
.browse {
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;
  padding-top: 2rem;
}
@media only screen and (min-width: 768px) {
  .browse {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  .browse {
    grid-template-columns: repeat(3, 1fr);
  }
}

.item {
  position: relative;
  border: 2px solid #F5F5F5;
  box-sizing: border-box;
}

.itemImgHolder {
  background-color: #F5F5F5;
  text-align: center;
}

.itemDetails {
  display: block;
  background-color: #fff;
  padding: .5rem;
}
.itemDetails h3 {
  text-align: center;
}
.itemDetails .forms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  text-align: center;
}
.itemDetails button {
  padding: 6px;
  width: 90%;
}

@media only screen and (min-width: 768px) {
  .itemDetails {
    display: none;
    background-color: #fff;
    width: 100%;
    padding: 0;
  }
  .itemDetails .forms {
    margin-bottom: .5rem;
  }
  .itemDetails button {
    padding: 6px 12px;
  }

  .item:hover > .itemDetails {
    display: block;
    position: absolute;
    opacity: .8;
    bottom: 0;
  }
}
/* END Browse Page Styles */
/* START Cart Page Styles */
.cart {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 500px) {
  .cart {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
  .cart .no-view {
    grid-column: 1/span 2;
  }
}
@media only screen and (min-width: 1024px) {
  .cart {
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
  }
}

.itemDetailPlaceHolder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: .5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #f5f5f5;
}
.itemDetailPlaceHolder .itemImgHolder {
  order: -1;
  grid-column: 1/span 2;
  background-color: #f5f5f5;
}
.itemDetailPlaceHolder h3 {
  padding: .5rem;
}
.itemDetailPlaceHolder form {
  order: 3;
}
.itemDetailPlaceHolder div {
  order: 4;
}

.all-col {
  grid-column: 1/span 5;
  text-align: center;
}

.itemDetailPlaceHolder img {
  max-width: 150px;
}

.quantityEdit {
  display: flex;
  column-gap: .5rem;
  padding: .5rem;
  justify-content: center;
}

.quantityEdit input {
  width: 30px;
  text-align: center;
}

.total {
  padding-top: 1rem;
}

.summary {
  padding: 1rem;
  border: 1px solid #f5f5f5;
}

.no-view {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .itemDetailPlaceHolder {
    display: grid;
    grid-template-columns: 20px 150px 1fr .5fr 1fr;
    margin-bottom: .5rem;
    align-items: center;
    justify-content: center;
    border: 1px solid #f5f5f5;
  }
  .itemDetailPlaceHolder .itemImgHolder {
    order: 0;
    grid-column: unset;
    background-color: #f5f5f5;
  }
  .itemDetailPlaceHolder h3 {
    padding: .5rem;
  }
  .itemDetailPlaceHolder form {
    order: -1;
  }
  .itemDetailPlaceHolder div {
    order: 5;
  }
}
/* END Cart Page Styles */
/* START Checkout Page Styles */
.checkout {
  padding-top: 1rem;
}
.checkout form {
  border: 1px solid #f5f5f5;
  padding: 1rem;
}

input[type="text"], input[type="email"], input[type="tel"], textarea, select {
  display: block;
  margin-top: .5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.formInputs {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* END Checkout Page Styles */
/* START Confirm Page Styles */
.welcome {
  text-align: center;
}

.confirm {
  border: 1px solid #f5f5f5;
  padding: 1rem;
}

.itemDetailPlaceHolderConfirm {
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  margin-bottom: .5rem;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  border: 1px solid #f5f5f5;
}
@media only screen and (min-width: 768px) {
  .itemDetailPlaceHolderConfirm {
    grid-template-columns: 3fr 1fr 1fr;
  }
}
.itemDetailPlaceHolderConfirm .imgHolder {
  order: -1;
  grid-column: 1/span 3;
}
.itemDetailPlaceHolderConfirm h3 {
  padding: .5rem;
}

.amountSummary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.amountItems {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  text-align: right;
  font-weight: bold;
}
.amountItems * {
  margin: 0;
}

.imgHolder {
  background-color: #F5F5F5;
  text-align: center;
}

@media only screen and (min-width: 300px) and (orientation: landscape) {
  .itemDetailPlaceHolderConfirm {
    display: grid;
    grid-template-columns: 150px 1fr 80px 80px;
    margin-bottom: .5rem;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    border: 1px solid #f5f5f5;
  }
  .itemDetailPlaceHolderConfirm .imgHolder {
    order: -1;
    grid-column: unset;
  }
}
/* END Confirm Page Styles */
