.work {
    background-color: #fff;
    text-align: center;

    img {
        max-height: 100%;
    }

    h1 {
        margin: 0;
        color: white;
        background-color: #4ccde5;
        padding: 1rem;
    }
}

footer {
    text-align: center;

    span {
        @include MQ(420px) {
            font-size: .85rem;
        }

        @include MQ(360px) {
            font-size: .75rem;
        }

        @include MQ(320px) {
            font-size: .68rem;
        }
    }
}